html, body{
  height: 100%;
  background-color:#eee;
  font-family: "Roboto", "lucida grande", tahoma, verdana, arial, sans-serif;
  fill: currentColor;
  font-weight: normal;
}
html, body, div, input, textarea {
  position: relative;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
textarea{
  vertical-align: top;
}
#main, #app {
  width: 100%;
  height: 100%;
}
button {
  background-color: transparent;
  color: #333;
  border: 1px solid;
  padding: 6px;
  border-radius: 3px;
}
button:hover {
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
button:focus {
  background-color: #cfc;
  outline: 0;
}
button:active{
  background-color: #fcc;
}
.app {
  background-color: #c7c7c7;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.topView {
  flex: 0 0 48px;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: stretch;
  background-color: #eaeaea;
  border-bottom: 1px solid #d0d0d0;
}
.leftWrapper {
  overflow: hidden;
  max-width: 320px;
  transition: max-width 200ms;
  border-right: 1px solid #d0d0d0;
  flex: 0 0 180px;
  height: 100%;
}
.leftWrapperWrapper {
  height: 100%;
  width: 100%;
  padding: 5px;
  flex-direction: column;
  align-items: stretch;
  background-color: #fcfcfc;
}
.navSlideButton {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  width: 45px;
  padding: 10px;
}
.navSlideButton:hover {
  background-color: #fff;
  cursor: pointer;
}
.navButton {
  width: 100%;
  padding: 5px;
  background-color: transparent;
  border-radius: 0px;
  color: #5a5a5a;
  font-size: 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sideSvgButton .navButton {
  border-right: 1px solid;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid;
  border-color: #999;
}
.sideSvgButton:first-child .navButton {
  border-top: 1px solid;
  border-color: #999;
}
.sideSvgButton .navButton:first-child {
  border-left: 1px solid;
  border-color: #999;
}
.navButton:hover {
  color: #00a8ff;
  cursor: pointer;
}
.navButton:focus {
  background-color: transparent;
}
.logoutButton {
  width: 100px;
  height: 32px;
  border: 1px solid #666;
  padding: 4px 9px;
  margin: 4px;
}
.logoutButton:hover {
  color: #00a8ff;
  cursor: pointer;
}
.navView {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.navHeader {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}
.navContent {
  position: relative;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  flex: 1;
  overflow: auto;
  background-color: #eaeaea;
}
.navBack {
  padding: 6px 12px;
  margin: 5px 0px;
}
.paginateButton{
  margin: 5px;
}
.navTitleWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapView {
  height: 100%;
  width: 100%;
}
.jobView {
  background-color: transparent;
  min-height: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.jobCustomerNoteWrapper {
  overflow: auto;
}
.jobCustomerWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.jobScheduleWrapper {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
}
.jobExtraWrapper {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 5px;
}
.jobExtraWrapper button {
  margin-bottom: 10px;
}
.jobExtraWrapper button:last-child{
  margin-bottom: 0px;
}
.customerPhone {
  flex: 1;
}
.customerView {
  margin: 5px;
  background-color: transparent;
  display: inline-block;
  flex: 1;
  min-width: 300px;
}
.customerView input {
  flex: 1;
  width: 100%;
  font-size: 1.1em;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #fafafa;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #555;
}
.customerView input.customerPhoneLabel {
  font-size: .5em;
  padding: 2px 6px;
}
.customerView>input:last-child {
  margin-bottom: 0px;
}
.customerPhoneWrapper input{
  margin-right: 2px;
  margin-left: 2px;
}
.customerPhoneWrapper input:first-child{
  margin-left: 0px;
}
.customerPhoneWrapper input:last-child{
  margin-right: 0px;
}
.scheduleView {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 5px;
}
.scheduleApptWrapper {
  flex: 1;
}
.scheduleAppts {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  overflow: auto;
}
.apptButton {
  margin-bottom: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  border: 1px solid #333;
  border-radius: 2px;
}
.apptButton:hover {
  background-color: #eee;
  cursor: pointer;
}
.noteView {
  margin: 5px;
  min-height: 300px;
  flex: 1;
  display: flex;
}
.noteText {
  width: 100%;
  padding: 5px;
  resize: none;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
}
.listViewNavHeader {
  padding: 4px;
  background-color: #fff;
  opacity: .8;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  border-bottom: 1px solid #aaa;
}
.apptLineItem {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 5px;
  border-bottom: 1px solid #555;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 75px;
}
.liveFeedLineItem {
  padding: '5px';
  border-bottom: 1px solid #555;
}
.liveFeedLineItem:hover {
  cursor: pointer;
  background-color: #afa;
}
.jobLineItem, .lineItem, .genericLineItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  background-color: #fafafa;
  border-bottom: 1px solid #555;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0px 0px 5px #aaa;
}
.jobLineItem:hover, .apptLineItem:hover, .lineItem:hover, .genericLineItem:hover {
  background-color: #aaa;
  cursor: pointer;
}
.jobLineItem:last-child, .apptLineItem:last-child, .lineItem:last-child, .genericLineItem:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}
.loginView {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginView>input {
  font-size: 1.5em;
  padding: 10px;
  margin-bottom: 10px;
}
.loginView>button {
  padding: 10px;
  color: #080;
}
.reportCountTable {
  min-width: 275px;
}
.reportCountTable td, .reportCountTable th {
  padding: 10px;
  background-color: #fdfdfd;
}
.genericView {
  overflow: auto;
}
.sideSvgButton {
  max-height: 64px;
}
.barGraphDiv {
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.workTypeBox {
  display: flex;
  width: 250px;
  height: 180px;
  padding: 10px;
  background-color: #ccc;
  border: 1px solid #aaa;
  margin: 10px;
}
.paymentOptionDiv {
  padding: 10px;
  background-color: #ccc;
  margin-bottom: 15px;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.paymentOptionDiv:last-child {
  margin-bottom: 0px;
}

.basicButton {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  padding: 5px;
  color: #555;
  font-size: 12px;
  align-items: center;
  border: 1px solid #555;
  border-radius: 2px;
  border-color: currentColor;
  white-space: nowrap;
}
.basicButton:hover {
  cursor: pointer;
  color: #00a8ff;
}
.basicButton > svg{
  min-width: 24px;
  min-height: 24px;
  margin: 0px 5px;
}
.basicButton > *{
  flex: 1;
}